html {
  background: no-repeat center center fixed;
  background-image: url(../img/cupbw.jpg);
  background-size: cover;
  transition: background-image 250ms ease-in-out 250ms;
}

input,
button{
  padding: 10px;
  display: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 5px auto;
}

input[type="text"] {
    width: 400px;
}


p {
    display: none;
    color: red;
    font-weight:bold;
    font-size: 25px;
    transition: all 250ms ease-in-out 250ms;
}

.visibleParagraph {
    display:block;
    transition: all 250ms ease-in-out 250ms;
}

.visibleElement {
    display:block;
    transition: all 250ms ease-in-out 250ms;
}

#header h1 {
    display:block;
    margin:20px auto;
    position:relative;
    color: red;
    text-align:center;
}

#header img {
    height: 110px;
    width: 100%;
}

/*
ul.navbar nav {
    width: 550px;
    height: 35px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 2px 3px #333333;
    background-color: #8AD9FF;
    border-radius: 8px;
}
*/
ul.navbar {
    margin:0 auto;
    float:none;
    position:relative;
    width:600px;
}

ul.navbar li {
    display: inline;
    padding: 20px;
}

ul.navbar a {
    text-decoration: none;
    color: white;
    padding: 10px 10px 10px 10px;
}

ul.navbar a:hover {
    color: red;
    border-bottom: solid red 2px;
}
